<body>
    <div class="row">
      <div class="centered columns">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/contact">Contact</a></li>
                <!-- <li><a href="/tags">Tags</a></li> -->
            </ul>
        </nav>
      </div>
</body>
