---
permalink: /categories/
title: "Posts"
description: "Browse all my posts by category."
---
<h1>Posts By Category</h1>
<p>{{ page.description }}</p>
<br>
{% for category in site.categories %}
  {% assign name = category[0] %}
  {% if name == "captains-log" %}
    <h2>Captain's Log</h2>
  {% else %}
    <h2>{{ name | capitalize | replace: "-", " " }}</h2>
  {% endif %}
  <p>See all posts <a href="/{{ name | slugify }}">here</a>.</p>
  {% for post in category[1] %}
    <a href="{{ post.url }}">{{ post.title }}</a>
    <p>{{ post.description }}</p>
  {% endfor %}
{% endfor %}